# Ensemble Techniques: RandomForest Technique for Regression problem

In [37]:
import pandas as pd
import numpy as np

In [38]:
dataset=pd.read_csv('petrol_consumption.csv')
dataset.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [39]:
dataset.describe().T

,count,mean,std,min,25%,50%,75%,max
Petrol_tax,48.0,7.668333,0.950770,5.000,7.00000,7.5000,8.12500,10.000
Average_income,48.0,4241.833333,573.623768,3063.000,3739.00000,4298.0000,4578.75000,5342.000
Paved_Highways,48.0,5565.416667,3491.507166,431.000,3110.25000,4735.5000,7156.00000,17782.000
Population_Driver_licence(%),48.0,0.570333,0.055470,0.451,0.52975,0.5645,0.59525,0.724
Petrol_Consumption,48.0,576.770833,111.885816,344.000,509.50000,568.5000,632.75000,968.000

In [40]:
# Spliting the dataset for fruther Training & Testing:
X = dataset.drop(['Petrol_Consumption'], axis=1)
y = dataset['Petrol_Consumption']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.5)

In [41]:
# Traning the data using RandomForestRegresssor:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators=20,random_state=0)
regressor.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=20, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [42]:
y_pred = regressor.predict(X_test)

In [43]:
# Computing metrics:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test,y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test,y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

Mean Absolute Error: 48.32500000000001
Mean Squared Error: 4222.177083333335
Root Mean Squared Error: 64.97828162804349

# Thus, with 20 trees we can se that the RMSE value is more than 10% of the mean of our Target Variable. Which means we haven't used enough number of estimators.

In [44]:
# To enhance the models performace, increasing the estimator value:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators=60,random_state=0)
regressor.fit(X_train,y_train)
y_pred = regressor.predict(X_test)
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test,y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test,y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

Mean Absolute Error: 44.52569444444445
Mean Squared Error: 4089.164270833333
Root Mean Squared Error: 63.946573566011594

# Ensemble Techniques: RandomForest Technique for Classification problem

In [45]:
import matplotlib.pyplot as plt
%matplotlib inline

bankdata=pd.read_csv('bill_authentication.csv')
bankdata.head()

   Variance  Skewness  Curtosis  Entropy  Class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [46]:
#  Spliting the dataset:
X=bankdata.drop(['Class'],axis=1)
y=bankdata['Class']

In [49]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.2)

# Training:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=20,random_state=0)
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)

# Evaluating metrics
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
print('Accuracy:', accuracy_score(y_test,y_pred)*100,'%')
print('Confusion Matrix:\n', confusion_matrix(y_test,y_pred))
print('Classifiation Report\n:', classification_report(y_test,y_pred))

Accuracy: 99.27272727272727 %
Confusion Matrix:
 [[147   2]
 [  0 126]]
Classifiation Report
:               precision    recall  f1-score   support

           0       1.00      0.99      0.99       149
           1       0.98      1.00      0.99       126

    accuracy                           0.99       275
   macro avg       0.99      0.99      0.99       275
weighted avg       0.99      0.99      0.99       275

# UpSampling & DownSampling:

In [50]:
df = pd.read_csv('balance-scale.data',
                names=['balance','var1','var2','var3','var4'])
df.head()

  balance  var1  var2  var3  var4
0       B     1     1     1     1
1       R     1     1     1     2
2       R     1     1     1     3
3       R     1     1     1     4
4       R     1     1     1     5

In [51]:
df['balance'].value_counts()

L    288
R    288
B     49
Name: balance, dtype: int64

**This is imbalances dataset looking at the Value Counts.**

In [53]:
# Tranforming the Dataset into Binary Classification dataset:
df['balance'] = [1 if b=='B' else 0 for b in df.balance]
df.head()

   balance  var1  var2  var3  var4
0        1     1     1     1     1
1        0     1     1     1     2
2        0     1     1     1     3
3        0     1     1     1     4
4        0     1     1     1     5

In [54]:
df['balance'].value_counts()

0    576
1     49
Name: balance, dtype: int64

In [55]:
# performing logistic regression Imbalanced dataset:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
X=df.drop('balance',axis=1)
y=df.balance
cl=LogisticRegression().fit(X,y)
Y_pred = cl.predict(X)
print('Accuracy:', accuracy_score(y,Y_pred)*100,'%')

Accuracy: 92.16 %

**Thus after performing Algorithm over an imbalnced dataset we got to know that the accuracy will be higher as in this case most of the time the model has iterated over value of y which has entry as '1'.**

In [56]:
print(np.unique(Y_pred))

[0]

# Upsampling:

In [57]:
from sklearn.utils import resample

In [67]:
# Seperating Majority & Minority Data:
df_majority=df[df.balance==0]
df_minority=df[df.balance==1]

# Umsample Minority Class:
df_minority_upsampled= resample(df_minority, replace=True, n_samples=576, random_state=123)
# Combining Majority class with upsampled Minority class:
df_upsampled = pd.concat([df_majority,df_minority_upsampled])
# New Class Counts:
df_upsampled.balance.value_counts()

1    576
0    576
Name: balance, dtype: int64

In [68]:
# performing logistic regression on Upsampled dataset:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
X=df_upsampled.drop('balance',axis=1)
y=df_upsampled.balance
cl=LogisticRegression().fit(X,y)
Y_pred2 = cl.predict(X)
print('Accuracy:', accuracy_score(y,Y_pred2)*100,'%')

Accuracy: 51.47569444444444 %

In [69]:
print(np.unique(Y_pred2))

[0 1]

**Though here the accuracy of the model has dropped but it is no longer working on just one entry of target variable, this model is comparatively more relaible as the dataset we used is a balanced one.**

# Downsampling:

In [72]:
df['balance'].value_counts()

0    576
1     49
Name: balance, dtype: int64

In [73]:
from sklearn.utils import resample
# Seperating Majority & Minority Data:
df_majority=df[df.balance==0]
df_minority=df[df.balance==1]

# Downsample Majority Class:
df_minority_downsampled= resample(df_majority, replace=False, n_samples=49, random_state=123)
# Combining Minority class with downsampled Majority class:
df_downsampled = pd.concat([df_minority,df_minority_downsampled])
# New Class Counts:
df_downsampled.balance.value_counts()

1    49
0    49
Name: balance, dtype: int64

In [75]:
# performing logistic regression on Downsampled dataset:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
X=df_downsampled.drop('balance',axis=1)
y=df_downsampled.balance
cl2=LogisticRegression().fit(X,y)
Y_pred3 = cl.predict(X)
print('Accuracy:', accuracy_score(y,Y_pred3)*100,'%')

Accuracy: 46.93877551020408 %

In [76]:
print(np.unique(Y_pred3))

[0 1]

**Here, the model is still reliable as the dataset is balanced using downsampling but not pratically viable as a lot of data from the original dataset has been cut down also the resulting accurcy of downsampling here in this case of dataset we used is lessor than the Upsampled accuracy.**

# Penalize Algorithm (Cost-Sensitive Training):

In [78]:
from sklearn.svm import SVC
# Spliting the dataset:
y=df.balance
X=df.drop('balance',axis=1)
# Training the model:
clf_3=SVC(kernel='linear',class_weight='balanced', probability=True)
clf_3.fit(X,y)
# predict on training set:
y_pred3=clf_3.predict(X)
# Check whether our model is still predicting basis only one class:
print(np.unique(y_pred3))
# Accuracy of our Model:
print('Accuracy:', accuracy_score(y,y_pred3)*100,'%')

[0 1]
Accuracy: 68.8 %

**Here using Penalized Algorithm, we have achieved a better accuracy as compared to Upsmapling and Downsampling also the model has predicted with both values of the target variable.**

# Use Tree Based Algorithm:

In [79]:
from sklearn.ensemble import RandomForestClassifier

In [80]:
# Spliting the dataset:
y=df.balance
X=df.drop('balance',axis=1)
# Training the model:
clf_4=RandomForestClassifier()
clf_4.fit(X,y)
# predict on training set:
y_pred4=clf_4.predict(X)
# Check whether our model is still predicting basis only one class:
print(np.unique(y_pred4))
# Accuracy of our Model:
print('Accuracy:', accuracy_score(y,y_pred4)*100,'%')

[0 1]
Accuracy: 100.0 %

**Thus, we can say that tree performs well on the problems of imbalanced dataset so far we have analysed.**

# Create Synthetic Samples (Data Augmentation):
 
 **These are close cousins of Upsampling. I will try using SMOTE(Synthetic Minority Oversampling Technique) on our dataset for analysis purpose.**