# List - It is similar to an array - it can contain any type of variable of distinct type.

In [1]:
l=[]
print(l)

[]

In [2]:
st=[1,2,3,4]
print(st)

[1, 2, 3, 4]

In [3]:
st=[1,2,3,4,'Machine']
print(st)
print(type(st))

[1, 2, 3, 4, 'Machine']
<class 'list'>

In [4]:
st = ['a','b','c','d','e']
print(st[0])
print(st[-2])
print('a' in st)
print('A' in st)

a
d
True
False

In [6]:
st = ('a','b','c','d','e')
st(1)=88
print(st)

SyntaxError: can't assign to function call (<ipython-input-6-f00639c447fc>, line 2)

In [11]:
m=[1,2,[100,200,300],22,3,[99,100,[44,32],21],76]
print(m)
print(m[0])
print(m[2])
print(m[2][2])
print(m[2])
print(m[5][2][1])

[1, 2, [100, 200, 300], 22, 3, [99, 100, [44, 32], 21], 76]
1
[100, 200, 300]
300
[100, 200, 300]
32

In [12]:
# list atributes/functions
n=[1,2,3,4,5]
print(n)
n.remove(2)
print(n)

[1, 2, 3, 4, 5]
[1, 3, 4, 5]

In [13]:
n=[1,2,3,4,5]
print(n)
del n[1]
print(n)

[1, 2, 3, 4, 5]
[1, 3, 4, 5]

In [14]:
l1=[1,2,3]
l2=[4,5,6]
print(l1+l2)

[1, 2, 3, 4, 5, 6]

In [16]:
# pop method
s=[1,2,3,4,5,6,7,55,44]
s.pop()
print(s)

[1, 2, 3, 4, 5, 6, 7, 55]

In [20]:
s=[1,2,3,4,5,6,7,55,44]
print(s)
print(s[:])
print(min(s))
print(max(s))
s.insert(2,999)
print(s)
s.append(777)
print(s)
s.sort()
print(s)
s.reverse()
print(s)
s.clear()
print(s)

[1, 2, 3, 4, 5, 6, 7, 55, 44]
[1, 2, 3, 4, 5, 6, 7, 55, 44]
1
55
[1, 2, 999, 3, 4, 5, 6, 7, 55, 44]
[1, 2, 999, 3, 4, 5, 6, 7, 55, 44, 777]
[1, 2, 3, 4, 5, 6, 7, 44, 55, 777, 999]
[999, 777, 55, 44, 7, 6, 5, 4, 3, 2, 1]
[]

In [21]:
l=[1,2]
c=['l','v']
l.extend(c)
print(l)

[1, 2, 'l', 'v']

In [22]:
# Tuples and its attributes - 
s=('y','v','angle')
print(s)
print(type(s))

('y', 'v', 'angle')
<class 'tuple'>

In [23]:
t=(1.0, )
print(t)
print(type(t))

(1.0,)
<class 'tuple'>

In [24]:
p=(1,2,3,4,5,6,7,55,44)
print(p[1:3])

(2, 3)

In [25]:
# variable length arguments -
def var(*args):
    print(args)
var(1)
var(1,2,3)
var('akshay',22)
var()

(1,)
(1, 2, 3)
('akshay', 22)
()

In [27]:
# Dictionary/Assosiative arrays -
d={1: 'COMP', 2:'IT', 99:'EXTC'}
print(d)
print(type(d))
print(d[1])

{1: 'COMP', 2: 'IT', 99: 'EXTC'}
<class 'dict'>
COMP

In [28]:
d={'COMP':1, 'IT':2, 'EXTC':3}
print(d['COMP'])

1

In [30]:
d={'COMP':1, 'IT':2, 'EXTC':3, 'COMP': 4}
print(d['COMP'])
print(d)

4
{'COMP': 4, 'IT': 2, 'EXTC': 3}

In [31]:
d={1: 'COMP', 2:'IT', 99:'EXTC'}
del d[1]
print(d)
d.clear()
print(d)

{2: 'IT', 99: 'EXTC'}
{}

In [33]:
d={1: 'COMP', 2:'IT', 99:'EXTC'}
print(str(d))
print(len(d))
print(d.keys())
print(d.values())

{1: 'COMP', 2: 'IT', 99: 'EXTC'}
3
dict_keys([1, 2, 99])
dict_values(['COMP', 'IT', 'EXTC'])

In [34]:
d={1: 'COMP', 2:'IT', 99:'EXTC'}
d1={4:'CHEM'}
d1.update(d)
print(d1)

{4: 'CHEM', 1: 'COMP', 2: 'IT', 99: 'EXTC'}

In [37]:
d={1: 'COMP', 2:'IT', 99:'EXTC'}
print(d[2])
print(d.get(2))

IT
IT

In [41]:
# File Handling - 
f = open("t1.txt", "w")
f.write("hi\n")
f.write("its for file handling\n")
print(f.name)
f.close()
print(f.closed)

t1.txt
True

In [50]:
f = open("t1.txt", "a")
f.write("new line is writen\n")
print(f.mode)
f.close()
print(f.closed)

a
True

In [54]:
f = open("t1.txt", "r")
print(f.readline())
print(f.read())

hi

its for file handling
new line is appendednew line is appendednew line is appendednew line is appended
new line is writen

In [55]:
#  map Functions -
# syntax - map(function, iterables)
def sqr(a):
    return a*a
x=map(sqr, [1,2,3,4,5])
print(x)
print(list(x))

<map object at 0x0000008DCC374FC8>
[1, 4, 9, 16, 25]

In [56]:
def sqr(a):
    return a*a
print(list(map(sqr, [1,2,3,4,5])))

[1, 4, 9, 16, 25]

In [60]:
def sub(a,b):
    return a-b
print(list(map(sub,[11,20,30],[4,5,6])))
print(tuple(map(sub,[10,20,30],[4,5,6])))
print(set(map(sub,[10,20,30],[4,5,6])))

[7, 15, 24]
(6, 15, 24)
{24, 6, 15}

In [61]:
# Lambda function
# syntax - argument : expression

sqr = lambda a: a*a
sqr(3)

9

In [62]:
# Map and lambda nesting
l = [1,2,3,4]
list(map(lambda x: x+4, l))

[5, 6, 7, 8]

In [63]:
# Filter Functions - filter()
#  syntax - filter(function, iterables)

def sqr(a):
    if a>=3:
        return a
x = filter(sqr, [1,2,3,4])
print(x)
print(type(x))
print(list(x))

<filter object at 0x0000008DCC32F7C8>
<class 'filter'>
[3, 4]

In [65]:
# Lambda & Filter nesting - 

l = [1,2,3,4]
sqr = filter(lambda x: x>=3, l)
print(list(sqr))

[3, 4]

In [68]:
#  Reduce Function - it is used to return a single value in o/p
# Syntax - reduce(function, iterable)
import functools
from functools import reduce
def sqr(a,b):
    return a+b
x = reduce(sqr, [1,2,3,4])
print(x)

10

In [70]:
#  nesting of map, filter and lambda -
list(map(lambda x:x+x, filter(lambda x:x>=3, [1,2,3,4])))

[6, 8]

In [72]:
x = reduce(lambda x,y: x+y, map(lambda x:x+x, filter(lambda x: x>=3, (1,2,3,4))))
print(x)

14

# Assignment Day 06 - AIML

**Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in single line.
Example;
Input:
john@google.com
Output:
google**

In [6]:
a = str(input("Please enter your Email Address: " ))
start = a.find('@') + 1
end = a.find('.', start)
print("Complant Name:", a[start:end])

Please enter your Email Address: dube@accenture.com
Complant Name: accenture

**Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world**

In [26]:
b = input("Enter the list of your choice: " )
c = b.split(',')
c.sort()
print("The alphabetically sorted entered list is:", c)

Enter the list of your choice: zeta,yeta,xeta,ate
The alphabetically sorted entered list is: ['ate', 'xeta', 'yeta', 'zeta']

**Question 3:
Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp**

# Sets
**A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.**

In [31]:
# Few examples of sets and its methods/functions - 
thisset = {"apple", "banana", "cherry"}
for c in thisset:
    print(c)

banana
apple
cherry

In [33]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [34]:
#  to add new entry to the set
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'orange', 'apple', 'cherry'}

In [35]:

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'cherry', 'orange', 'mango', 'grapes', 'apple', 'banana'}

In [36]:
# It returns the len of the set
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [37]:
# remove - to remove specified entry from the set
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [38]:
# to remove an entry from the given set 
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [39]:
#  pop method - it removes the last entry from the set 
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'apple', 'cherry'}

In [40]:
#  clear - it empties the set 
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [46]:
# del - delete the entries from the set
p = {"apple", "banana", "cherry"}
del p

In [47]:
# union - joins two sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'c', 2, 3, 'b', 'a'}

In [48]:
# update - it updates one set with the entries of another set 
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'c', 2, 3, 'b', 'a'}

**Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:1 2 4 6 3 7 8
Output:5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input**

In [8]:
def MissNo(A): 
    n = len(A) 
    total = (n + 1)*(n + 2)/2
    sum_of_A = sum(A) 
    return total - sum_of_A 
   
A = input("List of Numbers:") 
A=list(A.split(' '))
A = list(map(int, A)) 
missing_no = MissNo(A) 
print("The missing number is:",missing_no)

List of Numbers:1 2 3 4 6 7 8
The missing number is: 5.0

**Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input: 12 24 35 24
Output:
12 24 35**

In [14]:
x=input('List of numbers:')
x=list(x.split(' '))
x=set(x)
x=sorted(x)
output = ' '.join(x)
print('Output after removing duplicates: ',output)

List of numbers:12 24 35 24
Output after removing duplicates:  12 24 35