2**3 
Hi
I am learning with Dr. Darsan Ingle 
learning with LetsUpgrade is amazing.

2**3 
Hi
I am learning with Dr. Darsan Ingle 
learning with LetsUpgrade is amazing.

# Anything

In [1]:
2+3

5

In [5]:
a=1
b=3
c=a+b
print(c)

4

In [7]:
a=1
b=3
c=a+b
c
b
a

1

In [10]:
a=1
b=3
c=a+b
print(c)
print(a)
print(b)

4
1
3

In [11]:
d=799
print(d)

799

In [12]:
print("Hi Students")

Hi Students

In [17]:
a=1
b=3
c=a+b
print("Addition =",  c)

Addition = 4

In [19]:
a=1
b=3
c=a+b
print("First No =",  a)
print("Second No =",  b)
print("Addition =",  c)

First No = 1
Second No = 3
Addition = 4

In [20]:
print("Addition of a =", a, "and b =", b, "is c =", c)

Addition of a = 1 and b = 3 is c = 4

In [21]:
a=3
print(a*2)

6

In [22]:
a = 5+3j
print(a)

(5+3j)

In [23]:
type(a)

complex

In [24]:
print(type(a))

<class 'complex'>

In [25]:
a= 3.4787367
print(a)

3.4787367

In [26]:
type(a)

float

In [27]:
a = "AKShay Dube"
print(a)

AKShay Dube

In [28]:
type(a)

str

In [29]:
a = 1,00,000
b = 100000
print(a)
print(b)
print(type(a))
print(type(b))

(1, 0, 0)
100000
<class 'tuple'>
<class 'int'>

In [30]:
"Akshay"*3

'AkshayAkshayAkshay'

In [33]:
a = 9 #Here I ama assigniing variable a with value 9
b = 8 #Here I ama assigniing variable b with value 8
print(a+b) #Addition operation is performed here 


"""to comment on multiple lines
enclose the particular text in three double or single quotes at the 
start and end of teh comment"""

17

'to comment on multiple lines\nenclose the particular text in three double or single quotes at the \nstart and end of teh comment'

In [1]:
import os 
os.getcwd()

'C:\\Users\\Akshay'

In [3]:
#Q.1 - program to subtract two complex numbers is as follow - 
a = 2 + 3j
b = 3 +4j
c = a+b
print("Addition of two complex number is =", c)
type(c)

Addition of two complex number is = (5+7j)

complex

In [10]:
#Q.2 - Program to find fourth root of a number is as mentioned below - 
a = 81
c = a**(1/4)
print("The fourth root of a =", c)
type(c)

The fourth root of a = 3.0

float

In [23]:
#Q.3 - Program to swap two numbers using temporary variabes is a follows - 
x = 55
y = 66

temp = x
x = y 
y = temp 
print("Lets Swap")
print("value of x = ", x)
print("value of y = ", y)

Lets Swap
value of x =  66
value of y =  55

In [22]:
#Q.4 - Program to swap two numbers without using temporary variabes is a follows - 
x = 5
y = 6

x, y = y, x
print("Lets Swap")
print("value of x = ", x)
print("value of y = ", y)

Lets Swap
value of x =  6
value of y =  5

In [29]:
#Q.5 - program to convert fahrenheit to kelvin and degree celcius is as follows - 
f = 100 # f represents temperature in fahrenheit
c = (f - 32.0) * (5.0/9.0) #c represents temperature in celcius 
k = 273.5 + ((f - 32.0) * (5.0/9.0)) #k represents temperature in kelvin
print("Fahrenheit to Kelvin =", k )
print("Fahrenheit to Celcius =", c )

Fahrenheit to Kelvin = 311.27777777777777
Fahrenheit to Celcius = 37.77777777777778

In [33]:
#Q.6 - datatypes in python is as follows 
a = 1
b = 2+3j
c = 2.0
d = 1,0,10
e = "Akshay"
f = bool(5)
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'int'>
<class 'complex'>
<class 'float'>
<class 'tuple'>
<class 'str'>
<class 'bool'>

#Q.7 - Mardown cell details - 
# I am learning AI & ML
**I am Learning AI & ML**

*I am learning AI & ML*

>I am learning AI & ML

# what have I learned Yet

1. **Introduction to ML and its types with industry usage**

2. **Intoduction to Python** 

-*Python Data Types*

-*Markdown syntax*